<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		<%= title %>
	</title>
	<script src="./index.js"></script>
	<link rel="stylesheet" href="./style.css"></link>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
	<script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.2.3"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.min.js" integrity="sha256-rYN+IEl1EAPituFi5xX/uFkd/9OFfAAedRa7WZURoeY=" crossorigin="anonymous"></script>
</head>

<body>
	<style id="debug-style"></style>
	<input id="paste" hidden>
	<script>
		var dynamicOptions = location.search.substring(1).split('&')
			  .map(keyValue => keyValue.split('='))
				.reduce((obj, keyValue) => { obj[keyValue[0]] = keyValue[1]; return obj; }, {});
		console.log(dynamicOptions);
		if(location.host.indexOf('-stg') >= 0) {
			document.getElementById('debug-style').innerHTML = 'header { background-color: #8a6 !important; }';
		}
		else if(location.host.indexOf('local') >= 0) {
			document.getElementById('debug-style').innerHTML = 'header { background-color: #c57 !important; }';
		}
		var lang =
			window.navigator.language ||
			window.navigator.userLanguage ||
			window.navigator.browserLanguage;
		var main = Elm.Page.Map.Main.fullscreen({
			initialSize: {
				width: window.innerWidth,
				height: window.innerHeight
			},
			randomSeed: [Math.floor(Math.random() * 0xFFFF), Math.floor(Math.random() * 0xFFFF)],
			// TODO: Decoding large integer causes an error. Replace with below when it is fixed.
			// [Math.floor(Math.random()*0xFFFFFFFF), Math.floor(Math.random()*0xFFFFFFFF)]
			visitDate: new Date().getTime(),
			apiRoot: dynamicOptions.apiRoot || '<%= apiRoot %>',
			apiGraphQLParameter: dynamicOptions.apiGraphQLParameter || '<%= apiGraphQLParameter %>',
			apiGraphQLRoot: '',
			apiGraphQLKey: '',
			cacheRoot: dynamicOptions.cacheRoot || '<%= cacheRoot %>',
			accountServiceRoot: '<%= accountServiceRoot %>',
			profileServiceRoot: '<%= profileServiceRoot %>',
			imageRoot: dynamicOptions.imageRoot || '<%= imageRoot %>',
			title: ' <%= title %> ',
			authToken: localStorage.getItem('authToken') || '',
			lang: lang
		});
		main.ports.insertInput.subscribe(function(data) {
			var id = data[0];
			var pos = data[1];
			var objectId = data[2];
			var value = data[3];
			var element = document.getElementById(id);
			if (element.id === id) {
				var originalValue = element.value;
				var newValue = originalValue.substring(0, pos) + value + originalValue.substring(pos);
				var newPos = pos + value.length;
				element.focus();
				element.value = newValue;
				element.setSelectionRange(newPos, newPos);
				main.ports.receiveInputValue.send([objectId, newValue, newPos]);
			}
		});
		main.ports.setInput.subscribe(function(data) {
			var id = data[0];
			var str = data[1];
			var element = document.getElementById(id);
			if (element.id === id) {
				element.value = str;
			}
		});
		main.ports.removeToken.subscribe(function(token) {
			localStorage.removeItem('authToken', token);
			main.ports.tokenRemoved.send();
		});
		main.ports.setSelectionStart.subscribe(function() {
			var input = document.getElementById('name-input');
			if (input) {
				input.blur();
				input.setSelectionRange(9999, 9999);
				// input.value = input.value;
				input.focus();
				// var a = input.dispatchEvent(new KeyboardEvent('keydown', { calcelable: false, 'bubbles': false, key: "a" }));
				// console.log(a);
			}
		});
		main.ports.focusCanvas.subscribe(function() {
			var element = document.getElementById('paste-handler');
			if (element) {
				element.focus();
			}
		});
		main.ports.print.subscribe(function(s) {
			window.print();
		});
		main.ports.saveToken.subscribe(function(token) {
			localStorage.setItem('authToken', token);
		});
		main.ports.startEditSubscription.subscribe(async function({ config, floorId }) {
			const response = await fetch(config.apiGraphQLRoot, {
				method: 'POST',
				headers: {
					Authorization: `Bearer ${config.token}`,
					'x-api-key': config.apiGraphQLKey
				},
				body: JSON.stringify({
					query: `subscription PatchedObjects($updatedFloorId: String) {
						patchedObjects(updatedFloorId: $updatedFloorId) {
							updatedFloorId
							objects {
								flag
								object {
									id
								}
							}
						}
					}`,
					variables: {
						updatedFloorId: floorId
					}
				})
			});
			const json = await response.json();

			const sub = {
				wssURL: json.extensions.subscription.mqttConnections[0].url,
				client: json.extensions.subscription.mqttConnections[0].client,
				topics: json.extensions.subscription.mqttConnections[0].topics[0]
			};

			client = new Paho.Client(sub.wssURL, sub.client);
			client.onMessageArrived = message => {
				console.log(JSON.parse(message.payloadString).data.patchedObjects.objects);
			};
			client.connect({
				onSuccess: ctx => {
					client.subscribe(sub.topics);
				},
				useSSL: true,
				timeout: 3,
				mqttVersion: 4,
				onFailure: err => {
					throw err;
				}
			});
		});

		setTimeout(function() {
			document.getElementById('blink-style').innerHTML = '';
		}, 1400);

		var now = window.performance && (
			performance.now ||
			performance.mozNow ||
			performance.msNow ||
			performance.oNow ||
			performance.webkitNow);

		var getTime = function() {
			return (now && now.call(performance)) || (new Date().getTime());
		}
		var init = getTime();
		var start = init;
		var arr = [];
		(function loop() {
			var end = getTime();
			arr.push(end - start);
			start = end;
			if (end - init < 5000) {
				requestAnimationFrame(loop);
			} else {
				arr.reverse();
				var arr2 = [];
				for (var i = 0; i < 20; i++) {
					arr2[i] = arr[i] / 4 + arr[i + 1] / 2 + arr[i + 2] / 4
				}
				var s = arr2.map(n => n.toString()).join('\n');
				console.log(s);
			}
		}) //();
	</script>
	<style id="blink-style">
		.popup-blink {
			animation: blink 0.2s 2;
			animation-delay: 0.35s;
		}

		@keyframes blink {
			50% {
				background-color: #fac;
			}
		}
	</style>
	<style>
	.data-migration-notification {
	  position: fixed;
	  border-radius: 5px;
	  border: solid 1px #733;
	  margin-left: 30px;
	  margin-right: 30px;
	  margin-bottom: 35px;
	  bottom: 0;
	  padding: 10px;
	  background-color: #fee;
	  z-index: 999999;
		display: none;
	}
	.data-migration-notification.active {
		display: block;
	}
	</style>
	<div id="data-migration-notification" class="data-migration-notification">
	</div>
	<script>
		fetch('./info').then(e => e.text()).then(s => {
			if(s.trim()) {
				var el = document.getElementById('data-migration-notification');
				el.innerHTML = s;
				el.classList.add('active');
			}
		});
	</script>
</body>

</html>
