<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		<%= title %>
	</title>
	<script src="./master.js"></script>
	<link rel="stylesheet" href="./style.css"></link>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
	<style>
		/* overriding style.css */

		body {
			overflow-y: inherit;
		}
	</style>
</head>

<body>
	<style id="debug-style"></style>
	<script>
		if(location.host.indexOf('-dev') >= 0) {
			document.getElementById('debug-style').innerHTML = 'header { background-color: #8a6 !important; }';
		}
		else if(location.host.indexOf('local') >= 0) {
			document.getElementById('debug-style').innerHTML = 'header { background-color: #c57 !important; }';
		}
		var lang =
			window.navigator.language ||
			window.navigator.userLanguage ||
			window.navigator.browserLanguage;
		var main = Elm.Page.Master.Main.fullscreen({
			apiRoot: '<%= apiRoot %>',
			apiGraphQLRoot: '',
			apiGraphQLKey: '',
			accountServiceRoot: '<%= accountServiceRoot %>',
			title: '<%= title %>',
			authToken: localStorage.getItem('authToken') || '',
			lang: lang
		});
		main.ports.removeToken.subscribe(function(token) {
			localStorage.removeItem('authToken', token);
			main.ports.tokenRemoved.send();
		});
	</script>
</body>

</html>
